# Config options for all builds.

# System calls
# uselib(2) is an ancient system call. 
CONFIG_USELIB=n
CONFIG_AUDIT=n
# Modern acct(2).
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_USERFAULTFD=y
CONFIG_KEXEC=y
CONFIG_KEXEC_FILE=y

# Runtime introspection
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

CONFIG_NUMA_BALANCING=y
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=y

# Cgroups
CONFIG_CGROUPS=y
CONFIG_PAGE_COUNTER=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_CGROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CPUSETS=y
CONFIG_PROC_PID_CPUSET=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_CPUACCT=y

# Namespaces
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=n
CONFIG_PID_NS=y
CONFIG_NET_NS=y

CONFIG_SCHED_AUTOGROUP=y

# Security
CONFIG_COMPAT_BRK=n
CONFIG_CC_STACKPROTECTOR=y
CONFIG_CC_STACKPROTECTOR_STRONG=y

CONFIG_KPROBES_ON_FTRACE=y
CONFIG_UPROBES=y

# Block layer
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_CFQ_GROUP_IOSCHED=y

# x86
CONFIG_X86_X2APIC=y
CONFIG_EXTENDED_PLATFORM=n
CONFIG_X86_INTEL_LPSS=y
CONFIG_X86_PMEM_LEGACY_DEVICE=y
CONFIG_X86_PMEM_LEGACY=y
CONFIG_EFI_STUB=y
CONFIG_EFI_MIXED=y
CONFIG_PHYSICAL_ALIGN=0x1000000

CONFIG_NR_CPUS=128
CONFIG_PREEMPT_NONE=n
CONFIG_PREEMPT_VOLUNTARY=n
CONFIG_PREEMPT=y
CONFIG_HZ_1000=y
CONFIG_HZ=1000

# MM
CONFIG_KSM=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
CONFIG_MEMORY_FAILURE=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y

CONFIG_KEXEC_JUMP=y

CONFIG_PM_AUTOSLEEP=y
CONFIG_PM_WAKELOCKS=y
CONFIG_PM_WAKELOCKS_LIMIT=100
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_PM_CLK=y

CONFIG_ACPI_HED=y
CONFIG_ACPI_BGRT=y
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_ACPI_APEI_MEMORY_FAILURE=y
CONFIG_SFI=y

CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

CONFIG_X86_INTEL_PSTATE=y
CONFIG_X86_ACPI_CPUFREQ=m
CONFIG_X86_ACPI_CPUFREQ_CPB=y

CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_INTEL_IDLE=y

CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_PCI_REALLOC_ENABLE_AUTO=y
CONFIG_PCI_IOV=y
CONFIG_HOTPLUG_PCI_ACPI=y
CONFIG_HOTPLUG_PCI_CPCI=y

CONFIG_IPV6_ROUTER_PREF=y
CONFIG_IPV6_ROUTER_INFO=y
CONFIG_IPV6_OPTIMISTIC_DAD=y
CONFIG_NET_SCH_FQ_CODEL=m
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
CONFIG_RFKILL=m
CONFIG_LWTUNNEL=y

CONFIG_UEVENT_HELPER=n

CONFIG_REGMAP_SPI=y
CONFIG_REGMAP_MMIO=y
CONFIG_REGMAP_IRQ=y

CONFIG_PARPORT=m
CONFIG_PARPORT_PC=m
CONFIG_PARPORT_1284=y

CONFIG_BLK_DEV_NULL_BLK=m
CONFIG_BLK_DEV_FD=m
CONFIG_BLK_DEV_LOOP=m
CONFIG_NVME_CORE=m
CONFIG_BLK_DEV_NVME=m
CONFIG_SCSI_SCAN_ASYNC=y

CONFIG_WATCHDOG_CORE=y
CONFIG_WATCHDOG_SYSFS=y
