# Development QEMU VM kernel configuration.

include "base.fragment"

# Signed modules are unnecessary for development and slow down kernel builds.
CONFIG_MODULES_SIG=n
# Module versioning isn't particularly useful for development.
CONFIG_MODVERSIONS=n

# Low overhead and catches important bugs.
CONFIG_DEBUG_LIST=y

include "vmpy.fragment"
include "blktests.fragment"
include "xfstests.fragment"
