# Kernel configuration for the ThinkPad X1 Yoga

include "base.fragment"
include "pc.fragment"

CONFIG_ACPI_AC=m
CONFIG_ACPI_BATTERY=m
CONFIG_ACPI_WMI=m
CONFIG_AGP=m
CONFIG_BT_BCM=m
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_INTEL=m
CONFIG_BT=m
CONFIG_BT_RTL=m
CONFIG_CFG80211=m
CONFIG_CRYPTO_AES_NI_INTEL=m
CONFIG_CRYPTO_ARC4=m
CONFIG_CRYPTO_CCM=m
CONFIG_CRYPTO_CRC32C_INTEL=m
CONFIG_CRYPTO_CRC32_PCLMUL=m
CONFIG_CRYPTO_CRCT10DIF_PCLMUL=m
CONFIG_CRYPTO_CRYPTD=m
CONFIG_CRYPTO_ECDH=m
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=m
CONFIG_CRYPTO_GLUE_HELPER_X86=m
CONFIG_CRYPTO_PCBC=m
CONFIG_CRYPTO_SIMD=m
CONFIG_CRYPTO_USER_API=m
CONFIG_CRYPTO_USER_API_SKCIPHER=m
CONFIG_DRM_I915=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_DRM=m
CONFIG_E1000E=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_FB_SYS_FILLRECT=m
CONFIG_FB_SYS_FOPS=m
CONFIG_FB_SYS_IMAGEBLIT=m
CONFIG_HID_SENSOR_ACCEL_3D=m
CONFIG_HID_SENSOR_ALS=m
CONFIG_HID_SENSOR_GYRO_3D=m
CONFIG_HID_SENSOR_HUB=m
CONFIG_HID_SENSOR_IIO_COMMON=m
CONFIG_HID_SENSOR_IIO_TRIGGER=m
CONFIG_HID_SENSOR_MAGNETOMETER_3D=m
CONFIG_HID_WACOM=m
CONFIG_HW_RANDOM=m
CONFIG_I2C_ALGOBIT=m
CONFIG_I2C_I801=m
CONFIG_IIO_KFIFO_BUF=m
CONFIG_IIO=m
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_INPUT_EVDEV=m
CONFIG_INPUT_JOYDEV=m
CONFIG_INPUT_LEDS=m
CONFIG_INPUT_MOUSEDEV=m
CONFIG_INPUT_PCSPKR=m
CONFIG_INPUT_SPARSEKMAP=m
CONFIG_INTEL_GTT=m
CONFIG_INTEL_ISH_HID=m
CONFIG_INTEL_ISH_HID=m
CONFIG_INTEL_ISH_HID=m
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m
CONFIG_INTEL_MEI_WDT=m
CONFIG_INTEL_PCH_THERMAL=m
CONFIG_INTEL_POWERCLAMP=m
CONFIG_INTEL_RAPL=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_IRQ_BYPASS_MANAGER=m
CONFIG_ITCO_WDT=m
CONFIG_ITCO_WDT=m
CONFIG_IWLMVM=m
CONFIG_IWLWIFI=m
CONFIG_KEYBOARD_ATKBD=m
CONFIG_KVM_INTEL=m
CONFIG_LEDS_CLASS=m
CONFIG_MAC80211=m
CONFIG_MAC_EMUMOUSEBTN=m
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_MEMSTICK=m
CONFIG_MEMSTICK_REALTEK_PCI=m
CONFIG_MISC_RTSX_PCI=m
CONFIG_MMC=m
CONFIG_MMC_REALTEK_PCI=m
CONFIG_MOUSE_PS2=m
CONFIG_NETFILTER_XTABLES=m
CONFIG_NLS_UTF8=m
CONFIG_NVRAM=m
CONFIG_PERF_EVENTS_INTEL_CSTATE=m
CONFIG_PERF_EVENTS_INTEL_RAPL=m
CONFIG_PERF_EVENTS_INTEL_UNCORE=m
CONFIG_RFKILL=m
CONFIG_RTC_DRV_CMOS=m
CONFIG_SATA_AHCI=m
CONFIG_SENSORS_CORETEMP=m
CONFIG_SERIO_I8042=m
CONFIG_SERIO_LIBPS2=m
CONFIG_SERIO=m
CONFIG_SERIO_RAW=m
CONFIG_SND_COMPRESS_OFFLOAD=m
CONFIG_SND_HDA_CODEC_CONEXANT=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CORE=m
CONFIG_SND_HDA_EXT_CORE=m
CONFIG_SND_HDA_GENERIC=m
CONFIG_SND_HDA_HWDEP=y
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA=m
CONFIG_SND_HWDEP=m
CONFIG_SND=m
CONFIG_SND_PCM=m
CONFIG_SND_SEQ_DEVICE=m
CONFIG_SND_SEQ_DUMMY=m
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SOC_ACPI=m
CONFIG_SND_SOC_INTEL_SKYLAKE=m
CONFIG_SND_SOC_INTEL_SKYLAKE=m
CONFIG_SND_SOC_INTEL_SST=m
CONFIG_SND_SOC_INTEL_SST=m
CONFIG_SND_SOC=m
CONFIG_SND_TIMER=m
CONFIG_SOUND=m
CONFIG_TCG_CRB=m
CONFIG_TCG_TIS_CORE=m
CONFIG_TCG_TIS=m
CONFIG_TCG_TPM=m
CONFIG_THINKPAD_ACPI=m
CONFIG_TUN=m
CONFIG_USB_VIDEO_CLASS=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_XHCI_PCI=m
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_VMALLOC=m
CONFIG_VIDEO_V4L2=m
CONFIG_WMI_BMOF=m
CONFIG_X86_PCC_CPUFREQ=m
CONFIG_X86_PKG_TEMP_THERMAL=m
